---
pagination:
  data: collections.pages
  size: 1
  alias: page
  addAllPagesToCollections: true
tags:
  - navigation
layout: base
permalink: "{{ page.slug | slug }}/"
eleventyComputed:
  title: {{ page.title }}
---

<div class="content">
  {% if page.slug !== "/" %}
    {% contentSection { classes: 'content-header' }%}
        <h1 class="content-header__title">{{ page.title }}</h1>
    {% endcontentSection %}
  {% endif %}

  <div class="content__main">
    {%- for component in page.components -%}
      {% if component.sys.contentType.sys.id == "contentBlock" %}
        {% contentSection { classes: 'margin-bottom-2' }%}
          {% contentBlock { fields: component.fields } %}
            {{ component.fields.content | md | safe }}
          {% endcontentBlock %}
        {% endcontentSection %}
      {% endif %}
    {%- endfor -%}

    {% if page.slug === "posts" %}
      {% contentSection { classes: 'margin-bottom-2' }%}
        {% include "post-list.njk" %}
      {% endcontentSection %}
    {% endif %}
  </div>
</div>

