---
pagination:
  data: collections.pages
  size: 1
  alias: page
  addAllPagesToCollections: true
tags:
  - navigation
layout: base
permalink: "{{ page.slug | slug }}/"
eleventyComputed:
  title: {{ page.title }}
---

<div class="content">
  {% if page.slug !== "/" or page.intro !== '' %}
    {% contentSection { classes: 'content-header' }%}
        {% if page.slug !== "/" %}
          <h1 class="content-header__title">{{ page.title }}</h1>
        {% endif %}
        <p>{{ page.intro | md | safe }}</p>
    {% endcontentSection %}
  {% endif %}



  <div class="content__main">
    {% set features = page.components | componentsOfType('feature') %}
    {% if features | length %}
    {% contentSection { classes: 'margin-bottom-2' }%}
    <div class="features">
      <h2 class="features__title">
        Features
      </h2>
      <div class="features__list">
        {%- for feature in features -%}
            <div class="feature">
              <div class="feature__header">
                <h3 class="feature__title">{{ feature.fields.title }}</h3>
                <p class="feature__subtitle">{{ feature.fields.subtitle }}</p>
              </div>
              <div class="feature__main">
                <ol class="feature__list">
                  {%- for item in feature.fields.list -%}
                    <li class="feature__list-item">{{ item }}</li>
                  {% endfor %}
                </ol>
              </div>
            </div>
        {%- endfor -%}
      </div>
    </div>
    {% endcontentSection %}
    {% endif %}

    {% set contentComponents = page.components | componentsOfType('content') %}
    {%- for content in contentComponents -%}
      {% contentSection { classes: 'margin-bottom-2' }%}
        {% contentBlock { fields: content.fields } %}
          {{ content.fields.content | md | safe }}
        {% endcontentBlock %}
      {% endcontentSection %}
    {%- endfor -%}

    {% if page.slug === "posts" %}
      {% contentSection { classes: 'margin-bottom-2' }%}
        {% include "post-list.njk" %}
      {% endcontentSection %}
    {% endif %}
  </div>
</div>
