body {
  background-color: $color-blue;
}

pre {
  padding: grid-unit(2);
}

pre,
code {
  background-color: $color-white;
  color: $color-blue;
}

blockquote {
  @include text(md);

  padding: grid-unit(2);
  border-color: $color-white;
  background-color: transparent;
  color: $color-white;
}
