.feature {
  $feature_padding: grid-unit(3);

  border-radius: $border-radius;
  background-color: rgba($color-blue-850, $color-opacity-low);

  @supports (grid-template-rows: subgrid) {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
    grid-gap: grid-unit(2);
  }

  &__header {
    padding: $feature_padding $feature_padding 0 $feature_padding;

    @supports not (grid-template-rows: subgrid) {
      margin-bottom: grid-unit(2);
    }
  }

  &__main {
    padding: 0 $feature_padding $feature_padding $feature_padding;
  }

  &__title {
    @include text(lg);

    font-weight: $font-weight-bold;
  }

  &__subtitle {
    @include text(sm);

    margin-top: grid-unit(1);
    color: rgba($color-white, $color-opacity-medium);
  }

  &__list {
    @include list();
    @include text(sm);

    font-weight: $font-weight-semibold;
    color: rgba($color-white, $color-opacity-high);
  }

  &__list-item {
    & + & {
      margin-top: grid-unit(0.5);
    }
  }
}
