/*  ==========================================================================
    Header
    ========================================================================== */

.header {
  position: sticky;
  top: 0;
  padding: grid-unit(2) 0;
  font-weight: $font-weight-semibold;
  background-color: $color-blue;
  color: $color-white;

  &__inner {
    @include container(100%);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: grid-unit(4);
    padding-left: grid-unit(4);
  }
}
