.nav {
  &__item {
    &--active {
      .nav {
        &__link {
          @include property-states(background-color, rgba($color-blue-800, $color-opacity-low));
          @include property-states(color, inherit, $color-white);
        }
      }
    }
  }

  &__link {
    @include trigger-layout;
    @include property-states(background-color, inherit, $color-white, $color-white);
    @include property-states(color, inherit, $color-blue, $color-blue);

    padding: grid-unit(1) grid-unit(2);
  }

  &__toggle {
    @include trigger-layout();

    @include property-states(
      background-color,
      inherit,
      $color-white,
      rgba($color-blue-400, $color-opacity-medium)
    );
    @include property-states(color, inherit, $color-blue, $color-blue);
  }

  @include mq-down(sm) {
    &.is-open &__menu {
      display: block;
    }

    &__menu {
      @include container(100%);

      position: absolute;
      left: 0;
      display: none;
      padding: grid-unit(1) grid-unit(4) grid-unit(2);
      background-color: $color-blue;
      transform: translateY(grid-unit(2));
    }

    &__item {
      & + & {
        margin-top: grid-unit(1);
      }
    }
  }

  @include mq(sm) {
    &__toggle {
      display: none;
    }

    &__menu {
      display: flex;
      background-color: transparent;
    }

    &__item {
      & + & {
        margin-left: grid-unit(1);
      }
    }
  }
}
