---
pagination:
  data: collections.posts
  size: 1
  alias: post
  addAllPagesToCollections: false
layout: post
tags:
  - navigation
permalink: "posts/{{ post.slug | slug }}/"
eleventyComputed:
  title: {{ post.title }}
---

{%- for component in post.components -%}
  {% if component.sys.contentType.sys.id == "contentBlock" %}
    {% contentSection { classes: 'margin-bottom-2' }%}
      {% contentBlock { fields: component.fields } %}
        {{ component.fields.content | md | safe }}
      {% endcontentBlock %}
    {% endcontentSection %}
  {% endif %}
{%- endfor -%}
