---
pagination:
  data: collections.posts
  size: 1
  alias: post
  addAllPagesToCollections: false
layout: base
tags:
  - navigation
permalink: "posts/{{ post.slug | slug }}/"
eleventyComputed:
  title: {{ post.title }}
---

<div class="content">
  <article class="post">
    {% contentSection { classes: 'content-header' }%}
      <h1 class="content-header__title">{{ post.title }}</h1>
      <p class="content-header__meta">
        <span class="content-header__date">{{ post.date | dateToFormat('d MMMM y - HH:mm') }}</span>
      </p>
      <p class="content-header__intro">{{ post.excerpt }}</p>
    {% endcontentSection %}

    <div class="content__main">
      {% contentSection { classes: 'plain-text margin-bottom-2' }%}
        {{ post.content | md | safe }}
      {% endcontentSection %}
    </div>
  </article>
</div>
